/* width */
::-webkit-scrollbar {
      width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 16px;
    margin-top: 16px;
    margin-block: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #545454;
}
