* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.viewport {
    height: 100vh;
    width: 100vw;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px 8px 16px;
}

#header {
    flex: 1 0 0;
    max-height: 48px;
    display: flex;
    gap: 4px;
}

.sub-header {
    flex: 1 1 auto;
    max-width: 50%;
    display: flex;
}

#logo {
    max-width: 200px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    flex: 0 1 auto;
    max-height: 95%;
    max-width: 95%;
    object-fit: contain;
}

.pane-buttons {
    padding-left: 4px;
    padding-right: 4px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#md-buttons {
    min-width: 75%;
}

#workspace-container {
    flex: 1 0 0;
    background-color: #202225;
    display: flex;
    gap: 16px;
    min-height: 0px;
}

.workspace {
    border: 1px solid #636363;
    border-radius: 8px;
    flex: 1 0 0;
    display: flex;
    max-width: 50%;
}

.code {
    border-radius: 8px;
    border: none;
    padding: 16px;
    color: #d4d4d4;
    background-color: #262626;
    font-size: 15px;
    flex: 1 1 auto;
    resize: none;
}

.preview {
    flex: 1 1 auto;
    list-style-position: inside;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    overflow: auto;
}

#preview-placeholder {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: black;
    opacity: 0.2;
    font-size: 24px;
    border: none;
    border-radius: 8px;
}
